@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

h1, h2, h3, p, img, button,div {
  user-select: none;
}


.animate-scroll-up {
  animation-name: scroll-up;
}

.animate-scroll-down {
  animation-name: scroll-down;
}

@layer utilities {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 1px 1px;
  }
}
#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}


@keyframes shine-sweep {
  0% {
    transform: translateX(-120%) skewX(-20deg);
  }
  40% {
    transform: translateX(120%) skewX(-20deg);
  }
  100% {
    transform: translateX(120%) skewX(-20deg);
  }
}

@keyframes ribbon-shine {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(120%);
  }
}


/* styles/globals.css */
@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-880px); /* 4 testimonials * 220px height */
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-880px); /* 4 testimonials * 220px height */
  }
  100% {
    transform: translateY(0);
  }
}

@layer utilities {
  .font-bricolage {
    font-family: 'Bricolage Grotesque', sans-serif !important;
  }
}
#smooth-content {
  will-change: transform;
}
.bg-pixel-crt {
  position: relative;
  z-index: 0;
}

.pixel-shadow {
  text-shadow: 2px 2px 0 #000;
}
.pixel-border {
  border: 2px solid #000;
}

.bg-pixel-crt::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.02) 0px,
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px,
    transparent 2px
  );
  z-index: -1;
  pointer-events: none;
}


.pixel-icon {
  shape-rendering: crispEdges;
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@keyframes ribbon-shine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(260%);
  }
}

@keyframes skeleton-shine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(260%);
  }
}



@keyframes banner-shine {
  0% {
    transform: translateX(-120%) skewX(-20deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    transform: translateX(120%) skewX(-20deg);
    opacity: 1;
  }
  100% {
    transform: translateX(120%) skewX(-20deg);
    opacity: 0;
  }
}


/* Progressive blur ONLY at bottom */
.progressive-blur {
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 45%,
    black 75%,
    black 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 45%,
    black 75%,
    black 100%
  );
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
    --primary: #0D8267;
  /* main */
  --primary-foreground: #ffffff;

  --secondary: #c3ded8;
  /* secondary */
  --secondary-foreground: #1a1a1a;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: #0D8267;
  /* main */
  --primary-foreground: #ffffff;

  --secondary: #c3ded8;
  /* secondary */
  --secondary-foreground: #1a1a1a;

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

}

html,
body {
  scroll-behavior: auto !important;
  overflow-x: hidden; /* Prevents horizontal scroll only */
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

